<h1> Welcome to MegaStore</h1>

<% if logged_in? %>
    <%= link_to "Stores", users_path %> - <%= link_to "Edit your Profile", edit_user_path(current_user.id) %><br></br>
    <%= link_to "Products", products_path %> - <%= link_to "Create a New Product", new_product_path %><br></br>
    <%= link_to "Cart", carts_path %> <br></br>
    <%= link_to "Reviews", reviews_path %> <br></br>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
        <input type=submit value='Log Out'>
    <% end %>
<% else %>
    <%= link_to "Log In", login_path %> <br></br>
    <%= link_to "Sign Up", signup_path %> <br></br
<% end %>

