<div class="heading-for-products">
  <br></br>
  <ul>
  <li class="products-tabs">  Log In </li>

  <br></br>

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username, "Username:", class: 'login-input' %>
    <%= f.text_field :username, class: 'login-input' %> <br></br>
    <%= f.label :password, "Password:", class: 'login-input'%> 
    <%= f.password_field :password, class: 'login-input' %> <br></br>
    <%= f.submit "Log In", :class => 'login-input'%>
  <% end %>
  </ul>
</div>

<br></br>

<%= flash[:error] %> <br></br>

<li class="login-input">
  <%= link_to('Log in with Github!', '/auth/github') %> 
</li>
  
<br></br>

<li class="login-input">
  <%= link_to "Sign Up", signup_path %>
</li>

<br></br>
