<div class="heading-for-one">

  <h1> Log In </h1>

  <br></br>

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username %> <br></br>
    <%= f.label :password, "Password:" %> 
    <%= f.password_field :password %> <br></br>
    <%= f.submit "Log In"%>
  <% end %>

<br></br>

<%= flash[:error] %> <br></br>

<%= link_to('Log in with Github!', '/auth/github') %> <br></br>

<%= link_to "Sign Up", signup_path %> <br></br>

</div>