<h1> Welcome <%= current_user.username %>! - <%= link_to "Home", root_url %> </h1>

<%= link_to "Sellers", users_path %> - <%= link_to "View Your Store", user_path(current_user.id) %><br></br> 
<%= link_to "Products", products_path %> - <%= link_to "Create a New Product", new_user_product_path(@user) %><br></br>
<%= link_to "Cart", carts_path %> <br></br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Log Out'>
<% end %>

<h2> Edit your Account </h2>

<b>Please note that a password must be entered to submit changes. Please submit the same password if you do not want to change the password.</b> <br></br>

<%= form_for @user do |f| %>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %> <br></br>
    <%= f.label :password, "Password:" %> 
    <%= f.password_field :password %> <br></br>
    <%= f.submit %>
<% end %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>