<ul>
<% if !logged_in? %>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" ><%= link_to "MegaStore", root_url %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="general-heading-spacing">
    <br></br>
    <ul>
    <li class="heading-tabs">  Sign Up </li>

    <br></br>

    <%= form_for @user do |f| %>
      <%= f.label :username, "Username:", class: 'login-input' %>
      <%= f.text_field :username, class: 'login-input' %> <br></br>
      <%= f.label :email, "Email:", class: 'login-input' %>
      <%= f.text_field :email, class: 'login-input' %> <br></br>
      <%= f.label :password, "Password:", class: 'login-input' %> 
      <%= f.password_field :password, class: 'login-input' %> <br></br>
      <%= f.submit "Sign Up", :class => 'login-input' %>
    <% end %>
    </ul>
  </div>

  <br></br>
  <li class="login-input"> 
    <%= link_to "Log In Instead", login_path %>
  </li>

  <br></br>
  <% end %>
</ul>


<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>