<h1>Viewing Seller: <%= @user.username %> - <%= link_to "Home", root_url %> </h1>

<%= link_to "Sellers", users_path %> - <%= link_to "View Your Store", user_path(current_user.id) %><br></br> 
<%= link_to "Products", products_path %> - <%= link_to "Create a New Product", new_product_path %><br></br>
<%= link_to "Cart", carts_path %> <br></br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='Log Out'>
<% end %>

___________________________ <br></br>
<% @products.each do |product| %>
    <b> Title: </b> <%= product.title.capitalize %> <br></br>
    <b> Price: $</b> <%= product.price %> <br></br>
    <b> Description: </b> <%= product.description.capitalize %> <br></br>
    <b> Category: </b> <%= product.category.capitalize %> <br></br>
    <%= link_to "View Product", product_path(product) %> <br></br>
    ___________________________ <br></br>
<% end %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>