<div class="heading-for-many">
    <h2> Your Cart </h2>
    <br></br>
    <%= link_to "Clear Cart", cart_path(current_user), method: :delete %>
</div>

<div class="cart-summary">
    <b> Summary </b>
    <div class="cart-total-price">
    ________________ <br>
        <% @total = [] %>
        <% @cart.products.uniq.each do |product| %>
            <% @cart.product_ids.count(product.id)*product.price %>
            <% @total.push(@cart.product_ids.count(product.id)*product.price) %>
        <% end %>
        Total: <b> $<%= @total.sum %> </b> <br>
    ________________ <br></br>
    </div>
</div>

<div class="cartproducts-container">
    <% @cart.products.uniq.each do |product| %>
        <div class="cartproduct">
            <div class="cartproduct-image">
                <%= image_tag(product.image, :size => "200x133") %>
            </div>
                <b> <%= product.title.capitalize %> </b> <br>
                <b> $<%= product.price %> </b>
            <br>
            <%= product.category.capitalize %> <br></br>
            <b> Seller: </b> <%= link_to product.user.username, user_products_path(product.user) %> <br></br>
            <span>
                <b> Qty: </b> <%= @cart.product_ids.count(product.id) %>
            </span>
            <span>
                <b> $<%= @cart.product_ids.count(product.id)*product.price %> </b>
                <% @total.push(@cart.product_ids.count(product.id)*product.price) %>
            </span2>
            <br></br>
            <%= link_to "View Details", user_product_path(product.user, product) %> <br></br>
            <%= link_to "Remove from Cart", remove_path(product), method: :delete %> <br></br>
        </div>
    <% end %>
</div>