<h2> View Your Cart </h2>

<%= link_to "Clear Cart", cart_path(current_user), method: :delete %> <br></br>
___________________________ <br></br>

<% @cart.products.each do |product| %>
    <b> Title: </b> <%= product.title.capitalize %> <br></br>
    <b> Price: </b> <%= product.price %> <br></br>
    <b> Description: </b> <%= product.description.capitalize %> <br></br>
    <b> Category: </b> <%= product.category.capitalize %> <br></br>
    <b> Store: </b> <%= link_to product.user.username, user_path(product.user) %> <br></br>
    <%= link_to "View Product", user_product_path(product.user, product) %> <br></br>
    <%= link_to "Remove from Cart", remove_path(product), method: :delete %> <br></br>
    ___________________________ <br></br>
<% end %>
