<div class="heading-for-products">
  <br></br>
  <ul>
  <li class="products-tabs"> Shopping Cart </h2> <li>
  <li class="products-reviewed"> <%= link_to "Clear Cart", cart_path(current_user), method: :delete %> </li>
  <hr class="solid">
  </ul>
</div>

<div class="cart-summary">
  <% @all = [] %>
  <% @cart.products.each do |product| %>
    <% @all.push(product) %>
  <% end %>
  <b> Order Summary: </b> <b> <%= @all.length %> Items </b>
  <hr class="solid">
  <div class="cart-total-price">
    <% @total = [] %>
    <% @cart.products.uniq.each do |product| %>
      <% @cart.product_ids.count(product.id)*product.price %>
      <% @total.push(@cart.product_ids.count(product.id)*product.price) %>
    <% end %>
    <b> Order Total: $<%= @total.sum %> </b>
    <hr class="solid">
  </div>
</div>

<div class="cartproducts-container">
  <% @cart.products.uniq.each do |product| %>
    <div class="cartproduct">
      <div class="cartproduct-image">
        <%= image_tag(product.image, :size => "200x133") %>
      </div>
      <div class="cartproduct-text">
        <b> <%= product.title.capitalize %> </b> <br>
        <b> $<%= product.price %> </b>
      <br>
      <%= product.category.capitalize %> <br></br>
      <b> Seller: </b> <%= link_to product.user.username, user_products_path(product.user) %> <br></br>
      <span>
        <b> Qty: </b> <%= @cart.product_ids.count(product.id) %>
      </span>
      <span>
        <b> $<%= @cart.product_ids.count(product.id)*product.price %> </b>
        <% @total.push(@cart.product_ids.count(product.id)*product.price) %>
      </span2>
      <br></br>
      <%= link_to "View Details", user_product_path(product.user, product) %> <br></br>
      <%= link_to "Remove", remove_path(product), method: :delete %> <br></br>
    </div>
    </div>
  <% end %>
</div>
