<%= flash[:notice] %>

<div class="heading-for-many">
    <h2>List of all Products | <%= link_to "Reviewed Products", products_reviewed_path %> </h2>
    <br></br>
    <%= form_tag products_path, method: "get" do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag ("Search"), name: nil %>
    <% end %>
</div>

<div class="products-container">
    <% @products.each do |product| %>
        <div class="product">
            <b> Title: </b> <%= product.title.capitalize %> <br></br>
            <b> Price: $</b> <%= product.price %> <br></br>
            <b> Description: </b> <%= product.description.capitalize %> <br></br>
            <b> Category: </b> <%= product.category.capitalize %> <br></br>
            <b> Seller: </b> <%= product.user.username %> <br></br>
            <%= link_to "View Product", user_product_path(product.user, product) %> <br></br>
        </div>
    <% end %>
</div>