<%= flash[:notice] %>

<div class="general-heading-spacing">
  <br></br>
  <ul>
  <li class="heading-tabs"> 
    Latest Products
  </li>
    <li class="products-reviewed-1">
      <%= link_to "Reviewed", products_reviewed_path %>
    </li>
    <li class="products-all-1">
      <%= link_to "All", products_path %> 
    </li>
  </ul>
  <hr class="solid">
</div>

<div class="products-container">
  <% @products.each do |product| %>
    <div class="product">
      <div class="product-image">
        <%= image_tag(product.image, :size => "200x133") %>
      </div>
      <br>
      <div class="product-text">
        <b> <%= product.title.capitalize %> </b> <br>
        <b> $<%= product.price %> </b>
        <br>
        <%= product.category.capitalize %> <br></br>
        <b> Seller: </b> <%= link_to product.user.username, user_products_path(product.user) %> <br></br>
        <%= link_to "View Details", user_product_path(product.user, product) %> 
      </div>
    </div>
  <% end %>
</div>