<h2>List of all Products</h2>
<%= link_to "Stores", users_path %> <br></br>
<%= link_to "Products", products_path %> - <%= link_to "Create a New Product", new_product_path %> <br></br>
<%= link_to "Cart", carts_path %> <br></br>
<%= link_to "Reviews", reviews_path %> <br></br>
<%= flash[:notice] %> <br></br>
___________________________ <br></br>

<% @products.each do |product| %>
    <b> Title: </b> <%= product.title.capitalize %> <br></br>
    <b> Price: </b> <%= product.price %> <br></br>
    <b> Description: </b> <%= product.description.capitalize %> <br></br>
    <b> Category: </b> <%= product.category.capitalize %> <br></br>
    <b> Store: </b> <%= link_to product.user.username, user_path(product.user_id) %> <br></br>
    <%= link_to "View Product", product_path(product) %> <br></br>
    ___________________________ <br></br>
<% end %>