<h1> Welcome <%= current_user.username %>! - <%= link_to "Home", root_url %> </h1>

<%= link_to "Sellers", users_path %> - <%= link_to "View Your Store", user_products_path(current_user.id, @products) %><br></br> 
<%= link_to "Products", products_path %> - <%= link_to "Create a New Product", new_user_product_path(current_user.id) %><br></br>
<%= link_to "Cart", carts_path %> <br></br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='Log Out'>
<% end %>

<h2>Create a Product</h2> 

<%= form_for @product do |f| %>
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title %> <br></br>
    <%= f.label :price, "Price:" %>
    <%= f.text_field :price %> <br></br>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description %> <br></br>
    <%= f.label :category, "Category:" %>
    <%= f.text_field :category %> <br></br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit %>
<% end %>

<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>