<%= flash[:notice] %> <br></br>

<div class="product-show">
    <div class="product-image-show">
        <%= image_tag(@product.image, :size => "300x300") %>
    </div>
    <%= @product.category.capitalize %> <br></br>
    <span>
        <b> <%= @product.title.capitalize %> </b>
    </span>
    <span>
        <b> $<%= @product.price %> </b>
    </span>
    <br></br>
        <%= @product.description.capitalize %> 
    <br></br>
    Seller: <%= link_to @product.user.username, user_products_path(@product.user) %> <br></br>

    </div>

<div class="product-options">
    <% if @product.user_id == current_user.id %>
        <%= link_to "Edit Product", edit_user_product_path(@product) %> | 
        <%= link_to "Delete Product", user_product_path(@product.id), method: :delete %> <br></br>
    <% else %>
        <%= form_for @cart, method: :add_to_cart do |f| %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= f.submit "Add to Cart" %>
        <% end %>
</div>
<div class="product-write-review">
        <br></br>
        <br></br>
        <br></br>
            <%= link_to "Write a Review", {:controller => "reviews", :action => "new", :product_id => @product.id } %> <br></br>
    <% end %>
</div>

<br></br>
<br></br>

<h2 class="reviews-top"> 
    Reviews 
</h2>
<% if @product.reviews != [] %>
    <div class="reviews-container">
        <% @product.reviews.each do |review| %>
        <div class="review">
            <b> <%= review.user.username %> </b> <br></br>
            <%= review.content %>
            <% if review.user.id == current_user.id %>
                <%= link_to "Edit Review", edit_review_path(review.id), method: :get %> |
                <%= link_to "Delete Review", review_path(review.id), method: :delete %> <br></br>
            <% end %>
        </div>
    </div>
<% end %>
<% else %>
    <br></br>
    <br></br>
    <br></br>
    <h4 class="heading-for-many"> Be the first to submit a review for this product! </h2>
<% end %>
