<h1> Welcome <%= current_user.username %>! - <%= link_to "Home", root_url %> </h1>

<%= link_to "Sellers", users_path %> - <%= link_to "View Your Store", user_products_path(current_user.id, @products) %><br></br> 
<%= link_to "Products", products_path %> - <%= link_to "Create a New Product", new_user_product_path(current_user.id) %><br></br>
<%= link_to "Cart", carts_path %> <br></br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='Log Out'>
<% end %>
<%= flash[:notice] %> <br></br>
___________________________ <br></br>

<b> Title: </b> <%= @product.title.capitalize %> <br></br>
<b> Price: $</b> <%= @product.price %> <br></br>
<b> Description: </b> <%= @product.description.capitalize %> <br></br>
<b> Category: </b> <%= @product.category.capitalize %> <br></br>
<b> Seller: </b> <%= @product.user.username %> <br></br>
<% if @product.user_id == current_user.id %>
    <%= link_to "Edit Product", edit_user_product_path(@product) %> | 
    <%= link_to "Delete Product", user_product_path(@product.id), method: :delete %> <br></br>
<% end %>

<% if @product.user_id != current_user.id %>
    <%= form_for @cart do |f| %>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <%= f.submit "Add to Cart" %>
    <% end %>
<% end %>

___________________________ <br></br>
<% if @product.user_id != current_user.id %>
    <%= link_to "Write a Review", {:controller => "reviews", :action => "new", :product_id => @product.id } %> <br></br>
<% end %>
<br></br>

<% if @product.reviews != [] %>
    <h2> List of Reviews for this Product! </h2>
    ___________________________ <br></br>
<% else %>
    <h2> Be the first to submit a Review for this Product! </h2>
<% end %>

<% @product.reviews.each do |review| %>
    <br></br>
    <b> User: </b> <%= review.user.username %> -   
    <b> Review: </b> <%= review.content %> <br></br>
    <% if review.user.id == current_user.id %>
        <%= link_to "Edit Review", edit_review_path(review.id), method: :get %> |
        <%= link_to "Delete Review", review_path(review.id), method: :delete %> <br></br>
    <% end %>
    ___________________________ 
    <br></br>
<% end %>

