<h2 class="heading-for-one"> Edit your Review </h2> 

<div class="form-display">
  <%= form_for @review, url: { action: "update" } do |f| %>
    <%= f.label :content, "Review:" %>
    <%= f.text_field :content %> <br></br>
    <%= f.submit %>
  <% end %>
</div>

<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>