<h1> Welcome <%= current_user.username %>! - <%= link_to "Home", root_url %> </h1>

<%= link_to "Sellers", users_path %> - <%= link_to "View Your Store", user_path(current_user.id) %><br></br> 
<%= link_to "Products", products_path %> - <%= link_to "Create a New Product", new_user_product_path(@product) %><br></br>
<%= link_to "Cart", carts_path %> <br></br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Log Out'>
<% end %>

<h2> Post a Review </h2>

<%= form_for @review, url: { action: "create" } do |f| %>
    <%= f.label :content, "Review:" %>
    <%= f.text_field :content %> <br></br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :product_id, :value => @product.id %>
    <%= f.submit %>
<% end %>

<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>