<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Megastore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1"
  </head>

  <body>
    <header>
      <div class="main-nav">
        <% if logged_in? %>
          <li class="nav-item"> <%= link_to "Home", root_url %> </li>
          <li class="nav-item"> <%= link_to "View Your Store", user_products_path(current_user.id) %> </li>
          <li class="nav-item"> <%= link_to "Create a New Product", new_user_product_path(current_user.id) %> </li>
          <li class="nav-item"> <%= link_to "Products", products_path %> </li>
          <li class="nav-item"> <%= link_to "Sellers", users_path %> </li>
          <li class="nav-search-item"> <%= form_tag products_path, method: "get" do %>
            <%= label_tag(:q, "Search for Products:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag ("Search"), name: nil %>
          <% end %>
          </li>
          <li class="nav-right-side">
            <%= form_tag logout_path do %>
            <input type=submit value='Log Out'>
          <% end %> </li>
          <li class="nav-right-side"> <%= link_to "Cart", carts_path %> </li>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
